* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  height: 100vh;
  color: #fff;
  font-family: "Sono", sans-serif;
  padding: 3rem 4rem;
}

/* MAIN LAYOUT*/

.container {
  max-width: 93.75rem;
  margin: 0 auto;
}

.header {
  margin: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fact-form {
  background-color: #292929;
  margin-bottom: 2.5rem;
  padding: 1rem 2.5rem;
  text-align: center;
}
.main {
  display: grid;
  grid-template-columns: 15.6rem 1fr;
  gap: 3rem;
}

/* ELEMENTS */

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo img {
  width: 68px;
  height: 68px;
}
h1 {
  font-size: 2.6rem;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  margin-top: 6px;
}

.category {
  margin-bottom: 1rem;
}

.fact {
  font-size: 1.25rem;
  line-height: 1.4;
  background-color: #292929;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.tag {
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  padding: 5px 7px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "Coiny", sans-serif;
}
.vote-buttons {
  margin-left: auto;
}

ul {
  list-style: none;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 0.75rem;
  transition: 0.5s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  transition: 0.5s;
}
.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}
.btn-all-categories {
  margin-bottom: 1rem;
  width: 100%;
}
.btn-category {
  width: 100%;
  background-image: none;
}
